html {
  background: url(https://vr.google.com/daydream/static/images/pages/home/home-hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: .85;

}
.container{
  background-color: lightblue;
  height: 700px;
  width: 800px;
  border: black 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.boxes{
  height:150px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.bricks{
  height: 48px;
  width: 110px;
  background-color: darkblue;
  border: dotted white 1px;
  border-radius: 10px;
}

.ball{
  background-color: blue;
  height: 15px;
  width: 15px;
  border: 2px black solid;
  border-radius: 50%;
  position: absolute;
  left: 500px;
  top: 100px;
}
.plate{
  background-color: rgb(73, 73, 73);;
  height: 15px;
  width: 120px;
  left: 330px;
  position: absolute;
  bottom: 15%;
  border-radius: 50px;
}
.info{
  height: 300px;
  width: 300px;
  border: black 5px solid;
  border-radius: 20px;
  background-color: rgb(203, 255, 196);
  text-align: center;
}
